body{
    background-color: #FFF;
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
}
@page{
    margin: 0;

}
/*Definir cor do backgrond*/
h1 {
    font-family: 'Noto Serif', serif;
    color: rgb(77, 36, 2);
    font-size: 40px;
}

h2 {
    font-size: 24px;
    font-family: 'Noto Serif', serif;
    color: #F2B646;
}

h3 {
    font-size: 20.8px;
    font-family: 'Noto Serif', serif;
}

h4 {
    font-size: 18.4px;
    font-family: 'Noto Serif', serif;
    color: #F2B646;
}

p {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
li {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

#Experiencias li {
    font-family: 'Montserrat', sans-serif; 
}
/*Definir cores e fontes*/
header{
    width: 100%;
    display: flexbox;
    justify-content: center;
}
/*Definir tamanho do cabeçalho*/


.no-print, .no-print *{
        display: none !important;
    }


#div {
    width: 100%;
    height: auto;
    display: flex;
}

#nome {
    justify-content: center;
    height: 40px;
    display: flex;
    width: 100vw;
    background-color:  #FFF;
    padding-top: 1.6cm;
    position: absolute;
    
}


#bio {
    width: 85%;
    text-align: justify;
    padding-left: 0.8cm;
    padding-right: 0.8cm;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.titulo {
    text-align: center;
}

.pagebreaker{
    page-break-before: always;
    padding-top: 1.6cm;
}
#invisivel{
    height: min-content;
    width: 100%;
    display: flex;

}
.only-printing{
    display: flex;
    position: absolute;
    visibility: visible;
    padding-top: 1.6cm;
    right: 1.6cm;
}
hr{
    color: black;
    background-color: black;
    border-color: black;
    border-style: solid;
    height: 0.3px;
    padding-left: 1.6cm;
    padding-left: 1.6cm;
    width: 85%;
}

section div{
    margin: 0.5vw;
}

.conteudo {
    width: 100%;
    display: flex;
    padding-left: 0.8cm;
    padding-right: 0.8cm;
}

.conteudo-1{
    display: grid;
    padding-left: 0.8cm;
    padding-right: 0.8cm;
}

#texto-conteudo {
    width: 70%;
    text-align: justify;
}

#texto-conteudo a {
    visibility: hidden;
}

.img-conteudo{
    width: 30%;
    height: auto;
    display: grid;
    padding-left: auto;
    padding-right: auto;
}

.img-conteudo a img{
    max-width: 50%;
}
.img-conteudo img{
    max-width: 50%;
}

#ctm{
    display: flex;
    width: 70%;
    align-self: flex-end;

}

#ufabc {
    display: flex;
    width: 70%;
    align-content: flex-end;
}

.logo-link {
    justify-content: center;
    display: flex;
    justify-content: space-between;
}

.logo-link img{
    width: 60%;
}

#texto-skills {
    width: 50%;
}

#logo-skills {
    width: 35%;
    justify-content: right;
    display: grid;
    justify-content: space-around;
}

#logo-skills div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo-skills div img {
    width: 90%;
}

#links-externos{
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-around;
}

#liks-externos a img{
    margin-right: 3vw;
}

#lista-atributos{
    text-align: justify;
}

button{
    cursor: pointer;
}
.ContainerImg{
    display: flex;
    flex-direction: row;
    height: 128px;
    width: fit-content;
    
}

.GrupoImg{
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.GrupoImg a img{
    min-width: 80px;
    max-width: 80px;
}
