body{
    background-color: lightgreen;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header{
    width: 100%;
    display: grid;
}

#nome {
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: rgb(155, 174, 192);
}

#foto-candidato {
    padding-top: 1vw;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

#profile-pic {
    width: 100%;
    border-color: black;
    border-radius: 50%;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
}

section {
    margin: 2vw;
    height: 40%;
    border-color: black;
    border-style: solid;
    border-radius: 2vw;
   
    
}

.titulo {
    font-size: larger;
    text-align: center;
}

hr{
    color: black;
    background-color: black;
    border-color: black;
    height: 0.3px;
}

section div{
    margin: 2vw;
}

.conteudo {
    font-size: large;
    width: 100%;
    display: flex;
}

#texto-conteudo {
    width: 70%;
}

.logo-link {
    width: 25%;
    justify-content: right;
    display: flex;
    justify-content: space-between;
}

.logo-link img{
    width: 70%;
}

