body{
    background-color: #233A59;
    margin: 0;
    color: white;
}

h1 {
    font-family: 'Noto Serif', serif;
    color: rgb(77, 36, 2);
}

h2 {
    font-family: 'Noto Serif', serif;
    color: #F2B646;
}

h3 {
    font-family: 'Noto Serif', serif;
}

h4 {
    font-family: 'Noto Serif', serif;
    color: #F2B646;
}

p {
    font-family: 'Montserrat', sans-serif;
}
li {
    font-family: 'Montserrat', sans-serif;
}

header{
    width: 100%;
    display: grid;
    padding-bottom: 1vw;
}

#div {
    width: 100%;

    display: flex;
}

#nome {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    display: flex;
    height: 120%;
    width: 100%;
    background-color:  #F2B646;
    padding-bottom: 1vw;
}

#foto-candidato {
    width: 20%;
    text-align: center;
    padding-left: 2vw;
    
}

#profile-pic {
    width: 100%;
    border-color: white;
    border-radius: 50%;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
}

#bio {
    width: 60%;
    padding-left: 5vw;
    padding-top: 6vw;
}

section {
    
    height: 40%;
    border-color: white;
    border-style: solid;
    border-radius: 2vw;
    margin: 2vw;
}

.titulo {
    font-size: larger;
    text-align: center;
}

hr{
    color: white;
    background-color: white;
    border-color: white;
    height: 0.3px;
}

section div{
    margin: 2vw;
}

.conteudo {
    font-size: large;
    width: 100%;
    display: flex;
}

#texto-conteudo {
    width: 70%;
}

.logo-link {
    width: 25%;
    justify-content: right;
    display: flex;
    justify-content: space-between;
}

.logo-link img{
    width: 60%;
}

#texto-skills {
    width: 50%;
}

#logo-skills {
    width: 35%;
    justify-content: right;
    display: grid;
    justify-content: space-around;
}

#logo-skills div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo-skills div img {
    width: 90%;
}
footer {
    background-color:  #192A40;
    justify-content: center;
    font-size: 14px;
    height: auto;
    display: flex;
    position: relative;

    
}

footer a img {
    height: 6vw;
    padding-top: 1vw;
    padding-left: 50%;
    padding-right: 50%;
}