body{
    background-color: lightgreen;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header{
    width: 100%;
    display: grid;
}

#nome {
    text-align: center;
    width: 100%;
    background-color: lightslategrey;
}

#foto-candidato {
    padding-top: 1vw;
    width: 15vw;
    margin-left: auto;
    margin-right: auto;
}

#profile-pic {
    width: 15vw;
    border-color: black;
    border-radius: 50%;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
}

section {
    margin: 2vw;
    height: 30vw;
    border-color: black;
    border-style: solid;
    border-radius: 2vw;
    
}

.titulo {
    font-size: larger;
    text-align: center;
}

hr{
    color: black;
    background-color: black;
    border-color: black;
    height: 0.3px;
}

section div{
    margin: 2vw;
}

.conteudo {
    font-size: large;
}